<script setup lang="ts">
import LoginView from "./views/LoginView.vue";
import MainView from "./views/MainView.vue";
import { onMounted } from "vue";
import { useLoginStore } from "@/stores/login";
import MessageBox from "./components/icons/MessageBox.vue";
import FahComponent from "./components/FahComponent.vue";
import FrameComponentCopy from "./components/FrameComponent copy.vue";
import PongComponent from "./components/PongComponent.vue";
import AefComponents from "./components/AefComponents.vue";
import LeComponent from "./components/LeComponent.vue";
const loginStore = useLoginStore();
onMounted(() => {
  console.log("On Mounted");
  loginStore.loadData();
});
</script>

<template>
  <!-- <v-btn color="succeess" @click="loadData">Load from Local Storage</v-btn> -->
  <LoginView v-if="!loginStore.isLogin" />
  <MainView
    v-if="loginStore.isLogin"
    @logout="loginStore.logout"
    :login-name="loginStore.loginName"
  />
  <MessageBox />
  <AefComponents />
  <FahComponent />
  <FrameComponentCopy />
  <PongComponent />
  <LeComponent />
  
</template>

<style scoped></style>
